body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: #fff;
  padding: 0.25em 0 0 0;
  text-align: center;
}
nav {
  background: #999;
  color: white;
  text-align: center;
  padding: 0.25em 0;
}
main {
  padding: 20px;
  margin-bottom: 60px; /* Added to avoid overlap with footer */
}
footer {
  background-color: #999;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
ul {
  list-style-type: none; /* Remove default bullets */
}
div ul {
  min-height: 150px;
  padding: 1em;
  margin: 1em;
}

li {
  margin-bottom: 2px;
}

/* Button Styles */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #0056b3;
}
.main {
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: top;
}

.main div {
  flex: 1; /* Each div takes equal space */
  padding: 0.5em;
  margin: 1em;
  margin-bottom: 4.5em;
}

/* Link Animations */
a {
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

a:hover {
  color: #ff4b1f;
  text-decoration: underline;
}
