<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Default Title{% endblock %}</title>
    {% block styles %}
    <!-- Base styles or external style sheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    {% endblock %}
  </head>
  <body>
    <header>
      <h1>A Website of Fun and Helpful Lists</h1>
      <!-- Navigation Bar -->
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
      </nav>
    </header>

    <div class="main">
      <!-- Main Content Block -->
      <div>{% block content %}{% endblock %}</div>
      <div>
        <h2>Deploying a Flask App on Heroku</h2>
        <p>See my post about how this website was created!</p>
        <iframe
          src="https://benwright.blog/deployment-ready-flask-app/"
          height="600"
          width="950"
        ></iframe>
      </div>
    </div>

    <footer>
      <!-- Footer Content -->
      <h3>
        Visit <a href="https://benwright.blog">Ben's Blog</a> for more content
      </h3>
    </footer>
  </body>
</html>
